//Anakotmai
@font-face {
    font-family: "Lineseed";
    src: local("Linedeed"), url("../fonts/LineSeed/LINESeedSansTH_W_Rg.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lineseed";
    src: local("Lineseed"), url("../fonts/LineSeed/LINESeedSansTH_W_Bd.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lineseed";
    src: local("Lineseed"), url("../fonts/LineSeed/LINESeedSansTH_W_Th.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
//Thongterm
@font-face {
    font-family: "Thongterm";
    src: local("Thongterm"), url("../fonts/Thongterm/tt-reg.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Thongterm";
    src: local("Thongterm"), url("../fonts/Thongterm/tt-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}