$font-headding: 'Anakotmai', sans-serif;
$font-body: 'Thongterm', sans-serif;
$a-color: #000;
$link-color: #004999;
$a-color-hover: #000;
$bg-color: #faf3e2;
$bg-2:#b45515;
$bg-pn: #f6ece0;
$btn-color: #1a477f;
$space: 16px;