@import 'var';

.a-container {
    max-width: 990px;
    margin-right: auto;
    margin-left: auto;
}

.patient{
    background-position: center;
    .login {
        padding: 50px;
        .detail {
            width: 350px;
        }
    }
}
.patient table.fixed{
    table-layout: fixed;
    width: 90%; 
}
.patient table,tr,td,th{
    border-collapse: collapse;
    padding: 5px ;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    text-align: center;
    list-style-type: none;
    margin: 0;
    margin-left: 5%;

}
.patient p{
    margin-left: 5%;
}
.patient ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(28, 56, 121);
    color :white;
}
.patient li{
    float: left;
    font-family: sans-serif;
}
.patient li a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
._mobile {
    display: none;
}
