@import 'var';

.a-container {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

.patient{
    .login {
        .detail {
            width: 350px;
        }
    }
}
._mobile {
    display: none;
}