@import 'fonts';
@import 'var';

body {
    font-family: $font-body;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    text-align: left;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headding;
    font-weight: 500;
    line-height: 1.2;
}
.btn {
    background-color: $btn-color;
    color: #fff;
    border: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.btn-logout{
    padding: 10px;
    background-color: $bg-pn;
    color: #000;
}
.btn:hover {
    scale: 1.05;
    background-color: darken($btn-color, 10%);
}
.btn-plus {
    padding: 10px;
}
.btn-edit {
    padding: 10px;
    background-color: #22dbe8;
    color: #000;
}
.btn-delete {
    padding: 10px;
    background-color: #d83030;
    color: #fff;
}
.a-container {
    max-width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}
.patient,.supports{
    background-color: $bg-color;
    width: 100%;
    min-height: 100dvh;
    background-image: url("../img/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    .login {
        background-color: #fff;
        margin: auto;
        max-width: 550px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        top: 20dvh;
        .detail {
            text-align: center;
            margin: auto;
            .title-login{
                font-size: 2rem;
            }
            p{
                padding-top: 5px;
            }
        }
        form {
            max-width: 350px;
            margin: auto;
            margin-top: 5px;
        }
        input {
            width: 100%;
            height: 50px;
            border: 1px solid lightgray;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"] {
            overflow: hidden;
            -moz-appearance: textfield;
        }
        .btn-login {
            margin-top: $space;
        }
        label {
            margin-top: .5rem;
            margin-bottom: 0;
        }
        input[placeholder],input[value]{
            padding-left: 5px;
        }
    }
}
.dashboard-nav {
    width: 200px;
    float: left;
    font-family: $font-headding;
    ul {
        background-color: $bg-pn;
        list-style: none;
        padding: 0;
        li {
            text-align: left;
            padding: 3px;
            .current{
                background-color: #fff;
                color: $link-color;
            }
            a {
                color: #000;
                text-decoration: none;
                display: block;
                padding: 16px;
                &:hover {
                    color: #000;
                }
            }
        }
    }
}
.head-title {
    text-align: center;
    font-size: 2rem;
}
.content-dashboard {
    width: calc(100% - 200px);
    float: left;
    padding: 20px;
    .content {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        .head {
            background-color: $btn-color;
            width: 100%;
            border-radius: 10px 10px 0 0;
            padding: 10px;
            color: #fff;
        }
        .body {
            padding: 20px;
        }
    }
    .sayhello {
        text-align: center;
        h3{
            font-weight: 500;
        }
    }
    .profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
        }
    }
    
}
table, th, td {
    
    border-collapse: collapse;
    padding: 10px;
}
th {
    background-color: $btn-color;
    font-family: $font-headding;
    color: #fff;
}
.table-show{
    width: 100%;
    background-color: #fff;
    border-bottom: 3px solid $bg-pn;
}
.table-show tr:nth-child(even) {
    background-color: #faf6ef;
}
.table-show a {
    color: $link-color;
    text-decoration: none;
}
.search{
    input[type="text"] {
        border: 1px solid gray;
        height: 50px;
    }
    input[placeholder],input[value]{
        padding-left: 5px;
    }
}
.add-data {
    display: flex;
    .add-data-item {
        width: calc(100% / 2);
    }
    input {
        margin-bottom: 5px;
    }
    input[type="text"], input[type="number"], input[type="email"], input[type="tel"], input[type="date"],input[type="password"], select, textarea {
        border: 1px solid lightgrey;
        height: 35px;
        overflow: hidden;
        -moz-appearance: textfield;
    }
    input[placeholder],input[value]{
        padding-left: 5px;
    }
    input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        label {
            margin-top: .5rem;
            margin-bottom: 0;
        }
}
._desktop {
    display: none;
}
.space {
    padding: 16px 0;
}